.container {
	max-width: 90vw;
	margin: 0 auto;
	padding: 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.header > nav {
	display: flex;
}

.link {
	font-size: 2rem;
	color: white;
	padding: 8px 16px;
	font-weight: 900;
	border-radius: 4px;
	text-decoration: none;
	font-weight: 800;
	background-color: #6e6d70;
	margin-right: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
