.trending {
	list-style-type: none;
	text-align: center;
}

.link {
	font-size: 25px;
	text-decoration: none;
	color: black;
	font-weight: 500;
	transition: color 250ms ease-in-out;
}

.link:hover {
	color: tomato;
}
