.trending {
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  margin: 0;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #6e6d70;
  font-weight: 600;
  transition: 250ms ease-in-out;
}

.link:hover {
  color: orangered;
}
